/arboles/nbproject/private/
/arboles/build/
/GUIFormExamples/nbproject/private/
/GUIFormExamples/build/
/inf163/nbproject/private/
/inf163/build/
/inf163/dist/
/telematica/nbproject/private/
/telematica/build/
/inf154/nbproject/private/
/inf154/build/
/inf154/dist/